###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/assets/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpstorm & jetbrains ###
.idea/
*.iws
*.iml
*.ipr
out/
###< phpstorm & jetbrains ###

###> macos ###
.DS_Store
._*
###< macos ###

###> php-cs-fixer ###
.php-cs-fixer.cache
###< php-cs-fixer ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
