{% extends 'base.html.twig' %}

{% block title %}Modifier un aliment - Food Saver{% endblock %}

{% block main %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-lg border-0 bg-secondary text-primary rounded-4">
                <div class="card-body p-4 p-md-5">

                    <div class="text-center mb-4">
                        <h2 class="fw-bold mb-2">Modifier l'aliment</h2>
                        <p class="opacity-75">Mettez à jour les informations de cet aliment (quantité, date de péremption, etc...).</p>
                    </div>

                    {{ include('food/_form_card.html.twig') }}

                </div>
            </div>

        </div>
    </div>
{% endblock %}
